/**
 * @file - ASU Alumni
 * Region-Views-Views Styles
 * EX: .views-news-list
 */

.view {
  &.listing,
  &.listing-view {
    border-bottom: 0; // We use border in .row.
    padding-bottom: 0;
  }
  .btn,
  .button {
    border-radius: 2px;
    font-family: $font-family-regular;
    font-size: 1.6rem;
    padding: 10px 48px;
  }
  .pager {
    .button {
      background-color: $color-grey-light;
      color: $color-black;
      display: inline-block;
      font-family: $font-family-regular;
    }
  }
}

.view-empty {
  text-align: center;
  color: $color-maroon;
  font-family: $font-family-bold;
}

.view-filter-hidden {
  .view-filters {
    display: none;
  }
  .ajax-throbber {
    display: none;
  }
}

.view-hero-slideshow {
  div.video-wrapper {
    @media #{$tablet-min} {
      height: 57.4rem;
    }
  }

  .views-field-nothing {
    @media #{$tablet-min} {
      overflow: hidden;
      max-width: 100%;
      height: 57.4rem;
      line-height: 0;
      max-height: 700px;
      position: relative;
    }

    .video-wrapper {
      @media (max-width: 767px) {
        display: none;
      }

      &:after {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
        bottom: 0;
        content: "";
        height: 90%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
      }
    }

    .video-wrapper video {
      height: 100%;
      width: auto;

      @media (min-width: 1449px) {
        height: auto;
        width: 100%;
      }
    }

    .video-wrapper + .slide-image {
      .processed-video & {
        @media #{$tablet-min} {
          display: none;
        }
      }
    }

    .slide-image {
      position: relative;

      @media (max-width: 1900px) {
        width: auto;
      }

      &:after {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
        bottom: 0;
        content: "";
        height: 90%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
      }

      img {
        @media #{$tablet-min} {
          height: 57.4rem;
          object-fit: cover;
        }
      }
    }
  }

  .slide-text-wrapper {
    background-color: $color-grey-dark-3;
    color: #fff;
    padding: 2.2rem;

    @media #{$tablet-min} {
      background: transparent;
      bottom: 0;
      left: 0;
      padding: 2.2rem 1.5rem 8.5rem 11.5rem;
      position: absolute;
      z-index: 4;
    }

    .slide-text {
      margin: 0 auto;
      max-width: 77rem;
    }

    h1 {
      color: #fff;
      font-size: 2.8rem;
      line-height: 1em;
      margin: 0 0 1rem;

      @media #{$tablet-min} {
        font-family: $font-family-bold;
        font-size: 4.8rem;
        margin-bottom: 0.7rem;
      }
    }

    p {
      color: #ffffff;
      font-family: $font-family-regular;
      font-size: 1.6rem;
      line-height: 1.9em;

      @media #{$tablet-min} {
        font-size: 1.8rem;
        line-height: 1.6em;
        margin-bottom: 2.3rem;
      }

      a {
        color: #fff;
      }
    }

    .slide-button {
      a {
        @extend %button;
        font-family: $font-family-bold;
        padding: 1.4rem 3rem;
      }
    }
  }

  .flexslider .slides {
    @media #{$mobile} {
      overflow: hidden;
    }
  }

  .flex-direction-nav a {
    top: 20%;

    @media #{$tablet-min} {
      top: 50%;
    }
  }

  .flexslider .flex-control-nav.flex-control-paging {
    bottom: inherit;
    top: 42%;

    @media #{$tablet-min} {
      bottom: 40px;
      display: inline-block;
      left: 13rem;
      top: inherit;
      width: auto;
    }

    li a {
      background: #fff;
    }
  }

  .flex-pauseplay a {
    @media #{$tablet-min} {
      bottom: 35px;
      display: inline-block;
      left: 11.5rem;
    }
  }
}

.view-interior-slideshow-header {
  .views-field-nothing {
    @media #{$tablet-min} {
      background-color: $color-grey-dark-2;
      display: flex;
      font-size: 0;
    }
  }

  .image-wrapper {
    position: relative;

    @media #{$tablet-min} {
      display: inline-block;
      height: 100%;
      width: 57.987%;
    }

    &:after {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      bottom: 0;
      content: "";
      height: 30%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }

  .flexslider .slides img {
    @media (max-width: 1400px) and (min-width: 768px) {
      height: 100% !important;
      object-fit: cover;
      width: auto;
    }
  }

  .text-wrapper {
    background-color: $color-grey-dark-2;
    color: #fff;

    @media #{$mobile} {
      padding: 2rem 2rem 2.5rem;
    }

    @media #{$tablet-min} {
      display: inline-block;
      vertical-align: top;
      width: 41.5%;
    }

    .title {
      font-family: $font-family-regular;
      font-size: 2.8rem;
      line-height: 1.1em;
      margin-bottom: 0.2rem;

      @media #{$tablet-min} {
        font-size: 3.6rem;
        line-height: 1.2em;
        margin-bottom: 1.5rem;
      }

      a {
        background-color: transparent;
        border-bottom: 0 none;
        color: #fff;
        display: block;
        font-family: $font-family-regular;
        font-size: 2.8rem;
        line-height: 1.1em;
        padding: 0;
        text-align: left;
        white-space: normal;

        @media #{$tablet-min} {
          font-size: 3.6rem;
          line-height: 1.2em;
          margin-bottom: 1.5rem;
        }

        &:hover,
        &:focus {
          opacity: 0.8;
        }
      }
    }

    .text-body {
      font-family: $font-family-regular;
      font-size: 1.8rem;
      line-height: 1.5em;
      margin-bottom: 1.8rem;

      @media #{$tablet-min} {
        line-height: 1.7em;
        margin-bottom: 1.5rem;
      }

      p {
        font-family: $font-family-regular;
        line-height: 1.5em;

        @media #{$tablet-min} {
          line-height: 1.7em;
        }
      }
    }
  }

  .button-wrapper a {
    @extend %button;
    font-family: $font-family-bold;
  }

  p {
    font-family: $font-family-regular;
    font-size: 1.8rem;
    line-height: 1.3em;
  }

  .view-content .flexslider .flex-control-nav.flex-control-paging {
    @media #{$tablet-min} {
      bottom: 20px;
      left: 11%;
      width: auto;
    }
  }

  .flex-pauseplay a {
    @media #{$tablet-min} {
      bottom: 30px;
      left: 10%;
    }
  }

  .view-content .flexslider .flex-direction-nav a {
    @media #{$mobile} {
      top: 14%;
    }
  }

  .flexslider .slides {
    @media #{$mobile} {
      overflow: hidden;
    }
  }
}

.view-interior-page-slideshow {
  margin-bottom: 5rem;

  .text-wrapper {
    @media #{$tablet-min} {
      padding: 9.5rem 2rem 2rem 3.8rem;
    }

    @media (min-width: 1260px) {
      padding-right: 13rem;
    }
  }

  p {
    margin-bottom: 2.4rem;
  }
}

.view-events-near-you-slideshow {
  font-size: 0;

  .views-field-nothing-1 {
    @media (max-width: 1400px) {
      display: flex;
    }

    @media #{$tablet-min} {
      background-color: $color-grey-dark-2;
    }
  }

  .text-wrapper {
    @media #{$tablet-min} {
      box-sizing: border-box;
      float: left;
      padding: 9rem 4rem 2rem 8rem;
      width: 29.653%;
    }

    .title a {
      @media (max-width: 1044px) {
        font-size: 2.8rem;
      }
    }
  }

  .image-wrapper {
    @media #{$tablet-min} {
      width: 70.34%;
    }
  }

  .date {
    color: #000;

    @media #{$tablet-min} {
      margin-bottom: 1.1rem;
    }
  }

  .location-time {
    font-family: $font-family-light;
    font-size: 1.6rem;
    line-height: 1.2em;
    margin-bottom: 1.5rem;
  }

  .view-content .flexslider .flex-control-nav.flex-control-paging {
    @media #{$tablet-min} {
      display: inline-block;
      bottom: 33px;
      left: 34%;
      width: auto;
    }
  }

  .flex-pauseplay a {
    @media #{$tablet-min} {
      bottom: 28px;
      left: 33%;
    }
  }
}

.view-chapters-slideshow {
  .media-image-chapter {
    position: relative;

    @media #{$tablet-min} {
      display: inline-block;
      vertical-align: top;
      width: 57.987%;
    }

    &:after {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      bottom: 0;
      content: "";
      height: 30%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }

  .text-wrapper {
    @media #{$tablet-min} {
      box-sizing: border-box;
      display: inline-block;
      padding: 9rem 8rem 2rem 4rem;
      vertical-align: top;
      width: 42.015%;
    }
  }

  .leadership {
    font-family: $font-family-light;
    font-size: 1.6rem;
    line-height: 1.2em;

    .name {
      margin-bottom: 0.5rem;
    }

    a {
      border-bottom: 1px dashed #fff;
      color: #fff;
      display: inline-block;
    }
  }

  .paragraph > .paragraph__column {
    float: none;
    margin-right: 1.5rem;
    padding: 0;
    width: auto;
  }

  .social-links {
    .field {
      display: inline-block;
      margin-right: 1.5rem;
      vertical-align: top;

      a {
        border-bottom: 0 none;
        font-size: 0;

        &:after {
          color: #fff;
          content: '\f082';
          display: inline-block;
          font-family: $font-awesome;
          font-size: 2.3rem;
        }

        &:hover,
        &:focus {
          opacity: 0.8;
        }
      }
    }

    .field--name-field-twitter-link a:after {
      content: '\f099';
    }

    .field--name-field-instagram a:after {
      content: '\f16d';
    }

    .field--name-field-linkedin a:after {
      content: '\f0e1';
    }
  }

  .button-wrapper {
    margin-top: 1rem;
  }

  .view-content .flexslider {
    .flex-control-nav.flex-control-paging {
      bottom: 30px;
      left: 8.5%;
      width: auto;
    }

    .flex-pauseplay a {
      @media #{$tablet-min} {
        bottom: 40px;
        left: 7.5%;
      }
    }
  }
}

.view-events-near-you {
  position: relative;

  .attachment {
    @media #{$tablet-min} {
      display: inline-block;
      vertical-align: top;
      padding-right: 15px;
      width: 66.8%;
    }

    + .view-content {
      padding: 0 2rem;
      @media #{$tablet-min} {
        display: inline-block;
        vertical-align: top;
        width: 32.25%;
        padding: 0;
      }

      .views-row {
        margin-bottom: 1.5rem;
      }
    }

    .text-wrapper {
      .date {
        .month,
        .day {
          font-size: 2.4rem;
          line-height: 1em;
        }
      }
    }

    @media #{$mobile} {
      .text-wrapper {
        position: relative;
        .date,
        .inner-text-wrapper {
          background-color: transparent;
        }
      }
    }

  }

  .all-events-link {
    margin-bottom: 1.5rem;
    text-align: center;

    @media #{$tablet-min} {
      margin-bottom: 0;
      position: absolute;
      right: 15px;
      top: -4rem;
    }

    a {
      border-bottom: 0 none;
      color: #fff;
      font-family: $font-family-bold;
      font-size: 1.8rem;
      line-height: 1.2em;

      &:after {
        content: "\f105";
        font-family: $font-awesome;
        font-weight: normal;
        font-size: 2.5rem;
        margin-left: 1rem;
      }

      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }

  .views-row {
    position: relative;
  }

  img {
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  .text-wrapper {
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    width: 100%;

    .date {
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      font-size: 1.6rem;
      line-height: 1.2em;
      margin-bottom: 0;
      padding: 1.1rem 1rem 0.2rem;
      vertical-align: bottom;

      .month {
        color: $color-yellow;
        font-family: $font-family-black;
        text-transform: uppercase;
      }
    }

    .inner-text-wrapper {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 1rem;
      @media #{$desktop-min} {
        padding: 1rem 1rem 2rem;
      }
    }

    .title {
      margin-bottom: 0.5rem;

      a {
        border-bottom: 0 none;
        color: #fff;
        font-family: $font-family-bold;
        font-size: 2.4rem;
        line-height: 1.2em;

        &:hover,
        &:focus {
          opacity: 0.7;
        }
      }
    }

    .text-body {
      color: #fff;
      display: none;
      @media #{$desktop-min} {
        display: block;
      }
    }
  }
}

.view-asu-travel,
.view-chapter-event-listing {
  .views-row {
    border-bottom: 4px solid #E5E5E5;
    padding-bottom: 28px;
    margin-bottom: 28px;
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .field-name-field-image {
    margin-bottom: 15px;
    img {
      width: 100%
    }
  }
}

.ads-slick-carosel {
  .wrap {
    margin-bottom: 0;
  }
}

.partners-carousel-wrapper {
  background-color: $color-grey-dark-2;
  padding: 7rem 0 6rem 0;
  position: relative;

  .partners-slick {
    margin: 0 auto 2.5rem;
    max-width: $width-page;
  }

  .ads-slick-message {
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
  }
}

.news-list-view {
  position: relative;

  .view-header a {
    border: 0 none;
    color: #000;
    font-family: $font-family-bold;
    font-size: 1.8rem;
    position: absolute;
    right: 0;
    top: -55px;

    &:after {
      content: "\f105";
      font-family: $font-awesome;
      font-weight: normal;
      font-size: 2.5rem;
      margin-left: 1rem;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  .views-row {
    margin-bottom: 3.4rem;
    overflow: hidden;
  }

  .views-field-field-image {
    margin-bottom: 1rem;

    @media #{$tablet-min} {
      float: left;
      margin-bottom: 0;
      margin-right: 2rem;
    }

    img {
      width: 100%;

      @media #{$tablet-min} {
        width: auto;
      }
    }
  }

  .views-field-title a {
    border-bottom: 0 none;
    color: #000;
    font-size: 2.1rem;
    line-height: 1.2em;

    @media #{$tablet-min} {
      font-family: $font-family-bold;
      font-size: 2.4rem;
    }

    &:hover,
    &:focus {
      color: $color-maroon;
    }
  }

  .date {
    margin-bottom: 0.8rem;
  }
}

.list-view {
  .views-row {
    margin-bottom: 3.4rem;

    @media #{$tablet-min} {
      border-bottom: 4px solid $color-grey-light;
      overflow: hidden;
      margin-bottom: 3.5rem;
      padding-bottom: 2.8rem;

      &:last-child {
        border-bottom: 0 none;
      }
    }
  }

  img {
    margin-bottom: 1.3rem;
    width: 100%;

    @media #{$tablet-min} {
      float: left;
      margin-bottom: 0;
      width: auto;
    }
  }

  .text-wrapper {
    @media #{$tablet-min} {
      display: inline-block;
      padding-left: 2.5rem;
      vertical-align: top;
      width: calc(100% - 283px);
    }
  }

  .date {
    margin-bottom: 0.8rem;
  }

  .title a {
    border-bottom: 0 none;
    color: #000;
    font-size: 2.1rem;
    line-height: 1.2em;

    @media #{$tablet-min} {
      font-family: $font-family-bold;
      font-size: 2.4rem;
      line-height: 1.2em;
    }

    &:hover,
    &:focus {
      color: $color-maroon;
    }
  }

  .location-time {
    font-family: $font-family-light;

    @media #{$tablet-min} {
      margin-bottom: 0.3rem;
    }
  }

  .text-body {
    display: none;

    @media #{$tablet-min} {
      display: block;
      font-family: $font-family-light;
    }
  }

  &.view-chapters {
    .views-row {
      position: relative;
    }

    .media-image-chapter {
      @media #{$tablet-min} {
        float: left;
        margin-bottom: 0;
      }

      img {
        width: 100%;

        @media #{$tablet-min} {
          width: auto;
        }
      }
    }

    .leadership {
      font-family: $font-family-light;
    }

    .paragraph > .paragraph__column {
      float: none;
      padding: 0;
      width: auto;
    }

    .social-links {
      @media #{$tablet-min} {
        position: absolute;
        right: 0;
        top: 0;
      }

      .field {
        display: inline-block;
        margin-right: 1.5rem;
        vertical-align: top;

        @media #{$tablet-min} {
          margin-left: 1.5rem;
          margin-right: 0;
        }

        a {
          border-bottom: 0 none;
          font-size: 0;

          &:after {
            color: $color-maroon;
            content: '\f082';
            display: inline-block;
            font-family: $font-awesome;
            font-size: 2.3rem;
          }

          &:hover,
          &:focus {
            opacity: 0.8;
          }
        }
      }

      .field--name-field-twitter-link a:after {
        content: '\f099';
      }

      .field--name-field-instagram a:after {
        content: '\f16d';
      }

      .field--name-field-linkedin a:after {
        content: '\f0e1';
      }
    }
  }
}

.horizontal-list-view {
  .views-row {
    margin-bottom: 1.5rem;

    @media #{$tablet-min} {
      margin-bottom: 0;
    }
  }

  .list-wrapper {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  }

  img {
    width: 100%;

    @media #{$tablet-min} {
      width: auto;
    }
  }

  .text-wrapper {
    padding: 1.5rem 2rem 5.5rem;
    //overflow: hidden;
    .location-time {
      overflow: hidden;
    }
  }

  .date {
    margin-bottom: 1.2rem;
  }

  .title {
    margin-bottom: 0.6rem;

    a {
      border-bottom: 0 none;
      color: #000;
      font-family: $font-family-bold;
      font-size: 2.4rem;
      line-height: 1.2em;

      &:hover,
      &:focus {
        color: $color-maroon;
      }
    }
  }
}

.vertical-list-view {
  .views-row {
    margin-bottom: 1.5rem;
  }

  img {
    width: 100%;
  }

  .text-wrapper {
    border: 1px solid $color-border;
    padding: 1.4rem 1.2rem 2.2rem;
  }

  .title {
    margin-bottom: 0.3rem;

    a {
      border-bottom: 0 none;
      color: #000;
      font-family: $font-family-bold;
      font-size: 1.8rem;
      line-height: 1.3em;

      &:hover,
      &:focus {
        color: $color-maroon;
      }
    }
  }
}

